ul {
  margin-left: 113px;
  padding-top: 10px !important;
  margin-bottom: 10px !important;

  background-color: #fff;
}
ul li {
  margin-right: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
  border: 1px solid #225264;
  border-radius: 10px;
  background: none;
  color: #225264;
  padding: 3px 10px;
  cursor: pointer;
}
ul li:hover {
  background-color: #225264;
  color: #fff;
}

ul .active {
  background-color: #225264;
  color: #fff;
}

@media screen and (max-width: 768px) {
  ul {
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
    left: auto !important;
    padding-left: 10px !important;
  }
}
